body{
    background-color:burlywood;
}
h1{
    color:brown;
}
.drop-list {
    display: flex;
    gap: 10px; /* space between selects */
}

.amounts {
    display: flex;
    gap: 10px; /* space between input fields */
    margin-top: 10px;
}
.box{
    background-color:slategray;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
input, select, button{
    background-color:aquamarine;
    color: gold;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
button {
  background-color: bisque;
  color:black;
  border: none;
  cursor: pointer;
}
.currency{
    cursor: pointer;
}